on init
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/CarrierConfigResCommon.apk bind

on post-fs
    # Vibrator
    chown system system /sys/class/leds/vibrator/vmax_mv_user
